body{
    background-color:lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 800px;
    flex-direction: column;
}

button{
    width: 100%;
    height: auto;
    padding: 2px;
    margin:10px 0 10px 0;
    background-color: black;
    color: beige;
}

span{
margin-left: 50%;
}

.main-div{
display: flex;
justify-content: center;
flex-direction: column;
align-content: center;
}
h1{
color: beige;}

