body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 800px;
    flex-direction: column;
}

#btnGreen{
    background-color: green;
    color: aliceblue;
    width: 20%;
    height: 20px;
    padding: 2px;
}
#btnBlue{
    background-color: blue;
    color: aliceblue;
    width: 20%;
    height: 20px;
    padding: 2px;
    margin-top: 5px;
}